    #range {
        position:absolute;
        top: 0px;
        left: 0px;
        background: url(space.jpg);
        cursor: crosshair;
        width: 100%;
        /* Full height */
         height: 100%; 

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /*height: 300px;*/
    }
    #img1 {
        position:absolute;
        border:none;
        left: 0px;
        top: 100px;
        padding: 10px;
        }
    #score {
        font: 16px normal arial, verdana, sans-serif;
        color: white;
        padding: 10px;
    }